<!DOCTYPE html>


<html>
{% extends "block.html" %}
{% block title %}PantherHub{% endblock %}
{% block content %}
<head>
    <title>PantherHub</title>
</head>

<body>

    <hr> <!--this adds a line-->
    <p><i>Lorem ipsum dolor sit amet consectetur adipisicing elit. Quas eos suscipit porro consequatur reprehenderit ab, modi quidem nemo. Ut veritatis eligendi sed fuga numquam consequuntur hic distinctio deleniti sequi necessitatibus.</i></p>
    <br> <!--this adds a space in between-->
    <p>Lorem ipsum dolor sit amet consectetur, adipisicing elit. Facilis, ad voluptas, nobis tenetur ullam error voluptatibus aut rem sunt excepturi consequatur ab et praesentium impedit, nesciunt esse earum autem repudiandae.</p>

    <img src="/images/pantherhub couple 1.jpg" height="300" alt="This is a picture of two students in love" title="Young Panther Love">

    <a href="create_account.html" target=_self title="create an account">
        Create an Account
    </a>

    <audio controls autoplay loop src="/music/(FREE) Playboi Carti X Pierre Bourne Type Beat - _Infinite_.mp3"> </audio>
</body>

</html>

{% endblock %}
